
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Inter, helvetica, arial, sans-serif;
    font-size: 20px;
    color: #333333;
    line-height: 1;
    background-color: #f9fafb;

  }

